<!-- Export Menu - Кристина Тодорова -->
<div class="export-dropdown">
    <button class="btn btn-secondary dropdown-toggle">
        <i class="fas fa-download"></i> Експорт
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#" onclick="exportData('csv')"><i class="fas fa-file-csv"></i> CSV</a>
        <a class="dropdown-item" href="#" onclick="exportData('pdf')"><i class="fas fa-file-pdf"></i> PDF</a>
        <a class="dropdown-item" href="#" onclick="exportData('excel')"><i class="fas fa-file-excel"></i> Excel</a>
    </div>
</div>
